:root {
    --color: rgb(90, 247, 220)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: white;
}

/* body::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
} */

body * {
    z-index: 2;
}


/* NAVIGATION BAR */
nav {
    background: rgb(0, 0, 75);
}

.nav-container {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-nav {
    margin-top: 20px;
    /* width: 10%; */
    width: 146.675px;
    display: flex;
    justify-content: center;
}

.logo {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.middle-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, rgb(3, 55, 144), rgb(1, 33, 117));
    width: 75%;
    border-left: 10px solid var(--color);
    transform: matrix(1, 0, -0.176327, 1, 0, 0);
    transform-origin: 314.562px 80px;
    padding: 20px;
}

.middle-nav h1 {
    color: var(--color);
    font-size: 30px;
}

.presented-by {
    display: flex;
    margin-right: 20px;
}

.presented-by p {
    margin: auto;
    margin-right: 15px;
}

.gazprom {
    background: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    /* width: 12%; */
    width: 146.675px;
    text-size-adjust: 100%;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}


.log-in-btn {
    padding: 8px;
    background-color: transparent;
    border-color: var(--color);
    color: var(--color);
    font-size: 14px;
    cursor: pointer;
}

.bottom-nav {
    margin: 20px 30px 0px 30px;
    font-size: 16px;
    border-bottom: #333 1px solid;
}

.bottom-nav ul{
    display: flex;
    list-style: none;
}

.bottom-nav ul i{
   padding-left: 4px;
}

.bottom-nav li {
    padding: 0 8px 15px 8px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.bottom-nav li:hover {
    border-bottom: 3px solid var(--color);
    vertical-align: baseline;
}

.bottom-nav ul li.selected {
    font-size: 20px;
    color: var(--color);
    text-transform: uppercase;
}

li.selected:hover {
border: none;
}

li.current {
    border-bottom: 3px solid var(--color);
}

/* BRACKET AREA */
.bracket {
    height: 100%;
    width: 100%;
    background: url('./images/Champions\ league\ background2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.bracket-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin: auto;
}

.bracket-content {
    display: flex;
    flex-direction: column;
}

.bracket-text {
    text-align: left;
    margin-bottom: 30px;
}
.bracket-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.bracket-column {
    text-align: center;
    border-top: 2px solid grey;
}

.stage {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
}

.stage-check {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    border-radius: 50%;
    padding: 6px;
    display: none;
}

.game-box {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    border-image:   linear-gradient(
        rgb(90, 247, 220),
        rgb(0,0,0,0)
      ) 1;
      margin-bottom: 25px;
}

.team-logo {
    width: 30px;
    height: 30px;
}

.shield {
    font-size: 30px;
    color: rgb(127, 128, 175);
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    height: 25px;
    width: 25px;
}

.checked-circle {
    background: var(--color);
    color: rgb(0, 0, 75, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.team-row {
    display: flex;
    justify-content:space-between;
    background: rgb(255, 255, 255, 0.1);
    background: rgb(0, 0, 75, 0.7);
    cursor: pointer;
}

.selected-row {
    background-image: linear-gradient(90deg, rgb(90, 247, 220) 12.85%, rgba(90, 247, 220, 0) 102.78%);
    color: rgb(0, 0, 75, 0.7);
    font-weight: bold;
    cursor: default;
}

.empty-row {
    background: rgb(48, 49, 110);
    cursor: default;
}


.team {
    display: flex;
}

.team-name {
    margin: auto;
    margin-left: 10px;
}

.view-details {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--color);
    background: rgb(0, 0, 75);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
    cursor: pointer;
}

.semi-final-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.semi1 {
    position: absolute;
    width: 100%;
    top: 10%;
}

.semi2 {
    position: absolute;
    width: 100%;
    top: 55%;
}

.final-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.final-content {
    position: absolute;
    width: 100%;
    top: 5%;
}

.final-content h2 {
    font-size: 21px;
}



/* ADVERTISEMENT */
.advertisement {
    position: relative;
    width: 728px;
    height: 90px;
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
    background: url('./images/ad-photo.jpg') no-repeat center center/cover;
}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    text-align: center;
}

.advertisement::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.advertisement h2 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.advertisement button {
    padding: 10px;
    background-color: rgb(0, 0, 75);
    color: white;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, var(--color));
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}



/* FOOTER */
footer {
    width: 100%;
    height: 100%;
    background: url('./images/CL\ background3.jpg') no-repeat center center/cover;
}

/* footer::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
} */

/* footer * {
    z-index: 1;
} */

.foot-container {
    height: 100vh;
    width: 80%;
    margin: auto;
}

.foot-lists {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0;
}

.foot-list {
    list-style: none;
}

.foot-list li {
    font-size: 14px;
    cursor: pointer;
    padding: 2px 0;
}

.foot-head {
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 80px;
}

.social-links {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

.social-links li {
    padding: 10px;
    margin: 0 5px;
    font-size: 20px;
    border: 1px white solid;
    border-radius: 100%;
    cursor: pointer;
}

.privacy {
    font-size: 13px;
}

.copyright {
    margin-bottom: 10px;
}



/* PopUp */
.pop-up-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up {
    box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 375px;
    height: fit-content;
    background: white;
    color:#00004B;
    position: relative;
}

.pop-up button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #00004B;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.pop-up h3 {
    font-size: 18px;
}

.selected-team {
    color: #0d3aff;
}

.pop-up .match {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-bottom: 1px solid rgb(217,219,231);
    margin: 20px 0;
    font-size: 30px;
}

.pop-up .fixture-logo {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.pop-up .fixture {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.fixture:first-of-type {
    border-bottom: 1px solid rgb(217,219,231);
}

.recent-game {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px 0;
    cursor: pointer;
}

.recent-game i {
    position: absolute;
    right: 15px;
}


.bracket-complete {
    background: white;
    color: #3C3C3C;
    width: 100%;
    font-size: 16px;
    padding: 25px;
    height: 122px;
    position: fixed;
    bottom: 0;
    transform: translateY(200px);
    transition: all 0.7s ease-out;
}

.bracket-complete.show {
    transform: translateY(0);
}

.bracket-complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.continue-btn {
    margin-top: 12px;
    background: var(--color);
    color: #00004B;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 25px;
    width: 25%;
    font-size: 16px;
}



/* UEFA LOG-IN SCREEN */
.log-in-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
}

.uefa {
    background: grey;
    height: 100%;
    width: 60%;
    position: relative;
    overflow-x: auto;
}

.uefa-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.close-log-in {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(48, 49, 110);
}

.uefa .left-div {
    background: url('./images/Champions\ league\ background2.jpg') no-repeat left center/cover;
}

.left-div::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.uefa .left-div h2 {
    margin-bottom: 50px;
}

.uefa .left-div .member {
    display: flex;
    margin-bottom: 70px;
}

.member i {
    font-size: 30px;
    margin-right: 20px;
    color: var(--color);
}

.left-div,
.right-div {
    padding: 30px 50px;
}

.uefa .right-div {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.uefa .right-div-container {
    width: 100%;
}

.uefa .right-div h2 {
    margin-bottom: 70px;
}

.uefa-btn {
    padding: 0 20px;
    font-size: 14px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.uefa-btn:hover {
    opacity: 0.9;
}

.social-btn {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.social-icon {
    width: 19px;
    height: 19px;
    margin-right: 8px;
}

.facebook-btn {
    background: rgb(59, 89, 152);
    color: white;
}

.google-btn {
    background: white;
    color: black;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 24%), 0 0 1px 0 rgb(0 0 0 / 12%);
}

.apple-btn {
    background: black;
    color: white;
}

.submit-btn {
    background: rgb(0, 94, 180);
    color: white;
}

.create-account-btn {
    background: white;
    color: rgb(0, 94, 180);
    border: 1px solid rgb(0, 94, 180);
    margin-top: 20px;
    transition: background-color 0.5s, color 0.5s;
}

.create-account-btn:hover {
    background-color: rgb(0, 94, 180);
    color: white;
}

.uefa .right-div .comment {
    color: rgba(51, 51, 51, 0.6);
    display: block;
    text-align: center;
}

.uefa .right-div form {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
}

.uefa .right-div input {
    padding-bottom: 12px;
    font-size: 18px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 2px solid rgba(175, 182, 188, 0.4);
}

.uefa .right-div input:focus {
    outline: none;
    border-bottom-color: rgb(0, 94, 180);
}

.uefa .right-div .password-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 14px;
}

.uefa .right-div .checkbox {
    display: flex;
    text-align: center;
}

.uefa .right-div .forgot-password {
    color: rgb(0, 94, 180);
    cursor: pointer;
}

.invalid-msg {
    /* display: none; */
    height: 35px;
    border: 1px solid red;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.6);
    background-color: #FFF3F3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.invalid-msg i {
    margin-right: 5px;
    color: red;
    font-size: 18px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    z-index: 3;
    display: none;
}