@media (max-width: 1090px) {
    /* CREATE ACCOUNT */
    .create-account {
        width: 40%;
        height: 95%;
    }
}


@media (max-width: 960px) {
    ::-webkit-scrollbar {
        display: none;
    }


    /* NAVBAR */
    .presented-by {
        flex-direction: column;
        align-items: center;
    }

    .presented-by p {
        font-size: 12px;
        margin-bottom: 5px;
        text-align: center;
    }


    /* FOOTER */
    .foot-container {
        height: fit-content;
        width: 100%;
    }

    .foot-lists {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .foot-list {
        margin: 15px;
        text-align: left;
        width: 80%;
        padding-bottom: 20px;
        border-bottom: 1px dashed lightgray;
    }

    .languages {
        display: grid;
    }


    .social p {
        margin-bottom: 10px;
    }

    .privacy {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    /* CREATE ACCOUNT */
    .create-account {
        width: 50%;
        height: 95%;
    }
}


@media (max-width: 860px) {

    /* LOG IN SCREEN */
    .uefa {
        width: 100%;
    }

    .uefa-container {
        display: flex;
        flex-direction: column;
    }

    .uefa .right-div-container {
        width: 60%;
    }

    .top-div-close {
        display: flex;
    }

    .bottom-div-close {
        display: none;
    }


    /* HOW TO PLAY */
    .intro .row-section-container {
        width: 100%;
    }

    .intro-img {
        height: 100%;
        width: 100%;
    }

    .how-it-works {
        display: flex;
        flex-direction: column;
    }

    .mid-sect {
        flex-direction: column;
    }
    
}



@media (max-width: 768px) {
    /* NAVBAR */
    .right-nav {
        display: none;
    }

    .right-nav-resp {
        display: flex;
        align-items: center;
    }

    .selected {
        display: none;
    }

    .dropdown-menu {
        top: 155px;
        right: 15px;
    }


    /* BRACKET */
    .bracket-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }

    .continue-btn {
        width: 80%;
    }


    /* HOW TO PLAY */
    .intro-content {
        flex-direction: column;
        text-align: center;
    }


    .advertisement {
        width: 75%;
    }

    .advertisement h2 {
        font-size: 20px;
    }
    
    .advertisement button {
        padding: 5px;
        font-size: 12px;
    }


    /* RULES AND PRIZES */
    .rules .prizes-paragraph {
        font-size: 16px;
    }
    
    .rules .prizes-heading {
        font-size: 24px;
    }

    .bracket-container {
        width: 90%;
    }
}




@media (max-width: 650px) {
    /* BRACKET */
    .bracket-body {
        width: 300%;
        overflow-x: scroll;
    }

    .bracket-body::-webkit-scrollbar {
        display: block;
        width: 12px;
    }
    
    .bracket-body::-webkit-scrollbar-thumb {
        background: #00004B;
    }

    
    .bracket-container {
        width: 99%;
    }

    .bracket-ad {
        display: none;
    }

    /* LOGIN SCREEN */
    .uefa {
        min-width: 100%;
    }

    .uefa .right-div-container {
        width: 70%;
    }

    /* CREATE ACCOUNT */
    .create-account {
        width: 70%;
    }
}


@media (max-width: 504px) {
    /* NAVBAR */
    .bottom-nav {
        font-size: 14px;
        margin: 20px 10px 0px 10px;
    }

    .bottom-nav .log-in-btn {
        padding: 2px;
    }

    .bottom-nav li {
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .bottom-nav ul li.selected {
        display: none;
    }

    /* ADVERTISEMENT */
    .advertisement {
        display: none;
    }

    /* CREATE ACCOUNT */
    .create-account {
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 372px) {
    .dropdown-menu {
        top: 175px;
        right: 10px;
    }

    .right-div {
    padding: 30px 0px;
}

}